<h1>New Song</h1>
<%= form_for @song do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :artist %>
  <%= f.text_field :artist %>

  <%= f.label :rank %>
  <%= f.text_area :rank %>

  <%= f.label :genre %>
  <%= f.text_area :genre %>

  <%= f.submit class: 'waves-effect waves-light btn'%>
<% end %>